<!DOCTYPE html>
<html>
<head>
  <title>BookManager :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row">
    <div class="col s8 center">
      <!-- MAIN CONTENT GOES HERE -->
      <%= yield %>
    </div>

    <div class="col s1">
    </div>

    <div class="col s3">
      <!-- SIDEBAR CONTENT GOES HERE -->
      <%= render partial: 'partials/quick_links' %>
    </div>

  </div>

  <footer>
    <div class="row">
      <div class="col s8 center">
        <%= render partial: 'partials/footer' %>
      </div>
    </div> 
  </footer> 
  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "List Authors", authors_path %></li>
  <li><%= link_to "Add an Author", new_author_path %></li>
</ul>

<nav>
  <div class="nav-wrapper">
    &nbsp&nbsp
    <a href="/" class="brand-logo">BookManager</a>

    <ul class="right">
      <li><%# link_to "Categories", categories_path %></li> <!-- Only add this line if you did the work for the categories controller -->
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="/authors" data-activates="dropdown1">Authors<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

  </div>
</nav>
</body>
<%= javascript_include_tag "application" %>
</html>
